In [21]:
import pandas as pd

countries = pd.read_csv('https://raw.githubusercontent.com/dlab-berkeley/introduction-to-pandas/master/data/countries.csv')

In [22]:
countries.shape

(30, 8)

In [23]:
countries.head()

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
0,at,AT,eu,Austria,Autriche,Österreich,47.696554,13.345980
1,be,BE,eu,Belgium,Belgique,Belgien,50.501045,4.476674
2,bg,BG,eu,Bulgaria,Bulgarie,Bulgarien,42.725674,25.482322
3,hr,HR,non-eu,Croatia,Croatie,Kroatien,44.746643,15.340844
4,cy,CY,eu,Cyprus,Chypre,Zypern,35.129141,33.428682

In [24]:
countries.tail()

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
25,si,SI,eu,Slovenia,Slovénie,Slowenien,46.149259,14.986617
26,es,ES,eu,Spain,Espagne,Spanien,39.895013,-2.988296
27,se,SE,eu,Sweden,Suède,Schweden,62.198467,14.896307
28,tr,TR,non-eu,Turkey,Turquie,Türkei,38.952942,35.439795
29,uk,GB,eu,United Kingdom,Royaume-Uni,Vereinigtes Königreich,54.315447,-2.232612

In [25]:
countries.iloc[0]

country                        at
google_country_code            AT
country_group                  eu
name_en                   Austria
name_fr                  Autriche
name_de                Österreich
latitude                47.696554
longitude                13.34598
Name: 0, dtype: object

In [26]:
countries.loc[0]

country                        at
google_country_code            AT
country_group                  eu
name_en                   Austria
name_fr                  Autriche
name_de                Österreich
latitude                47.696554
longitude                13.34598
Name: 0, dtype: object

In [29]:
df1 = pd.DataFrame({'x':[10, 20, 30, 40 ,50],
                    'y':[20, 30, 40, 50, 60],
                    'z':[30, 40, 50, 60, 70]},)

df1

    x   y   z
0  10  20  30
1  20  30  40
2  30  40  50
3  40  50  60
4  50  60  70

In [34]:
df1['x'][4]

np.int64(50)

In [30]:
df1.iloc[3]

x    40
y    50
z    60
Name: 3, dtype: int64

In [31]:
df1.loc[3]

x    40
y    50
z    60
Name: 3, dtype: int64